name: CI
on:
  - push
  - pull_request
env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: ubuntu-24.04-arm

    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        run: rustup update stable

      - name: Cache Rust build
        uses: Swatinem/rust-cache@v2

      - name: Build the project
        run: cargo build

      - name: Lint the project
        run: cargo clippy -- -A unused_variables

      - name: Run tests
        run: cargo test
